/* @media (min-width: 576px) and (max-width: 768) {
        .shop-section .box{
            width: 100%;
            background-color: red;
        }
  } */

img{
    max-width: 100%;
    display: block;
}
@media (max-width: 576px){
    .shop-section .box{
        width: 100%;
    }
    .shop-section2-box-img p{
        margin-bottom: 10px;
    }

    .shop-section2-box-img{
        width: 50%;
        text-align: center;
    }
    .shop-section2{
        width:100%;
    }
    .shop-section2-box{
        width: 100%;
    }
}

@media (max-width: 768px) and (min-width:576px){
    .shop-section .box{
        width: 100%;
    }
    .shop-section2-box-img p{
        margin-bottom: 10px;
    }

    .shop-section2-box-img{
        width: 50%;
        text-align: center;
    }
    .shop-section2{
        width:100%;
    }
    .shop-section2-box{
        width: 100%;
    }
}

@media (max-width: 991px) and (min-width:768px){
    .shop-section .box{
        width: 50%;
    }
    .box .box-content h2{
        font-size: 15px;
    }
}

@media (min-width: 992px){
    .shop-section .box{
        width: 25%;
    }
    .box .box-content h2{
        font-size: 15px;
    }
}